@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important
}
.brand-logo ,h1{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
}
.card{
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(13, 129, 224) !important;
  box-shadow:1px solid rgb(13, 129, 224) !important;
}
.gallary{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;


}
.items{
  width :200px;
  height: 200px;
  margin-bottom: 20px;
}

